<%- include("partialViews/header.ejs") %>
    <form action="/bitcoinPrice" method="get">
      <input type="radio" name="bitcoinPrice" value="USD" checked />
      <label for="USDollar">USD</label><br />
      <input type="radio" name="bitcoinPrice" value="GBP" />
      <label for="Pounds">GBP</label><br />
      <input type="radio" name="bitcoinPrice" value="EUR" />
      <label for="Euros">EUR</label>
      <br>
      <button type="submit">Get Price</button>
    </form>

    <h3><%= `The Current Price of Bitcoin in ${code}:` %></h3>
    <h2><%-symbol %> <%=` ${newRate}` %></h2>
 
    <%- include("partialViews/footer.ejs") %>
